<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title> </title>
  </head>
  <body>
    <h5>Listado de Locales de Repuestos</h5>

    {% for e in datos %}

    <ol>
      <li><b>Propietario: </b>{{e['propietario_str']}}</li>
      <li><b>Valos total de mercaderia: </b>{{e['valorTMercaderia']}}</li>
      <li><b>Direccion: </b>{{e['direccion']}}</li>
      <li><b>Barrio: </b>{{e['barrio_str']}}</li>
      <li><b>Valor: </b>{{e['valor']}}</li>
    </ol>
    <hr>
    {% endfor%}
  </body>
</html>
